body{
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: 100;
	line-height: 1.7em;
}
b, strong{
	font-weight: bold;
}

a{
	color: #ff4040;
}
a:hover{
	color: #ff8080;
}

.sim{
	width:100%;
	background: #eee;
	overflow: hidden;
	margin: 1.5em 0;
}
iframe{
	border:2px solid #eee;
	display: block;
	margin:0 auto;
}

article > p, article > ul, article > ol, article > h1, article > h2, article > h3{
	width: 640px;
	margin:1em auto;
	direction:rtl;
	text-align:right;
}
.section{
	width:100%;
	background: #000;
	color: #fff;
	overflow: hidden;
	margin-bottom: 2em;
	margin-top: 3em;
}
.section:first-of-type{
	margin-top: 0;
	height: 480px;
}
.section > div{
	width: 960px;
	margin:0 auto;
	color: #fff;
	position: relative;
}
.section > div > div{
	position: absolute;
	direction: rtl;
}
.section > div > iframe{
	display: block;
	border: none;
}
.section.chapter > div{
	height: 250px;
    font-size: 70px;
    font-weight: bold;
}
.section.chapter > div > div{
	position: absolute;
    top: 70px;
}
.section.chapter > div > img{
	display: block;
	position: absolute;
    height: 320px;
    right: 0;
    bottom: 0;
}

icon{
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
	top:0.1em;
	background-size: 100% 100%;
}
icon[s]{
	background-image: url(../icons/s.png);
}
icon[e]{
	background-image: url(../icons/e.png);
}
icon[i]{
	background-image: url(../icons/i.png);
}
icon[r]{
	background-image: url(../icons/r.png);
}

.nowrap{
	white-space: nowrap;
}

p > img{
	width: 100%;
	border: 1px solid #ddd;
	margin: 0.5em auto;
}
sub{
	line-height: 0;
}

#translations, #sharing{
	font-weight: normal;
	color: #aaa;
	font-size: 16px;
	width: 110px;
	position: absolute;
	top: 527px;
	left: calc(50% - 478px);
	line-height: 1.3em;
}
#sharing{
    left: calc(50% + 358px);
	text-align: right;
}
#translations a, #sharing a{
	color: #aaa;
}
#translations a:hover, #sharing a:hover{
	color: #ccc;
}
#share_title, #share_desc{
	display:none;
}

#footer{
	background: #000;
	color: #fff;
	overflow: hidden;
	margin-top: 2em;
}
#footer > div{
	width:960px;
	margin:3em auto;
}

#supporters{
	color: #999;
	font-size: 19px;
	line-height: 1.3em;
	columns:5;
	text-align: center;
}

#footnotes_container{
	background: #444;
	color: #bbb;
	padding-top: 2em;
	padding-bottom: 1.5em;
}
#footnotes_container h2{
    margin: 0 auto;
    text-align: center;
}
.footnotes{
	display: none;
	width: 800px;
	font-size: 16px;
	line-height: 1.3em;
	margin: 0 auto;
}
.footnotes hr/*, .footnotes a*/{
	display: none;
}
#show_feetnotes_button{
	cursor: pointer;
}
#show_feetnotes_button:hover{
	color: #fff;
}
#shown_feetnotes{
	display: none;
}
#footnotes_container ol{
	display: inline;
}
#footnotes_container li{
	display: list-item;
}
#footnotes_container a{
	color: #fff;
}

#wash{
	font-size: 12px;
	text-align: right;
	padding: 0.5em 1.5em;
}

.littlefoot-footnote__content {
	line-height: 1.5em;
}
.littlefoot-footnote__content a{
	color: #549cf9;
}

.sharable_icon{
	width:25px;
	height:25px;
	background: url(../sharing/shareables.png);
	background-size: auto 100%;
	display: inline-block;

	position: relative;
	top:0;
}
.in_footer .sharable_icon{
	width: 50px;
	height: 50px;
}
.sharable_icon:hover{
	top:-2px;
}
.sharable_icon[tw]{
	background-position: -100% 0;
}
.sharable_icon[em]{
	background-position: -200% 0;
}

.littlefoot-footnote__button{-webkit-font-smoothing:antialiased;backface-visibility:hidden;background-color:rgba(110,110,110,0.2);border-radius:.5em;border:0;box-sizing:border-box;color:rgba(110,110,110,0.5);cursor:pointer;display:inline-block;font-size:.9em;font-weight:bold;height:1em;line-height:1;margin:0 .1em 0 .2em;min-width:1.5em;padding:0 .5em;position:relative;text-decoration:none;top:-.1em;transition-duration:.25s;transition-property:background-color color;transition-timing-function:ease;vertical-align:middle;z-index:5}.littlefoot-footnote__button:hover,.littlefoot-footnote__button:focus{background-color:rgba(110,110,110,0.5);color:white}.littlefoot-footnote__button:active{background-color:rgba(110,110,110,0.5);color:white}.littlefoot-footnote__button.is-active{background-color:#6e6e6e;color:white;transition-delay:.1s}.littlefoot-footnote__button::after{clear:both;content:'';display:table}.littlefoot-footnote__button__ellipsis{padding:.35em .5em}.littlefoot-footnote__button__ellipsis svg{float:left;height:.3em}.littlefoot-footnote__button__number::after{color:rgba(110,110,110,0.5);content:attr(data-footnote-number);display:block;font-size:.9em;font-weight:bold;left:50%;padding:.35em .5em;position:absolute;top:50%;transform:translate(-50%, -50%);transition-duration:.25s;transition-property:background-color color;transition-timing-function:ease}.littlefoot-footnote__button__number:hover::after,.littlefoot-footnote__button__number.is-active::after{color:white}.littlefoot-footnote__button__number svg{display:none}.littlefoot-footnote__host{display:inline-block;position:relative;text-indent:0}@media not print{.footnote-print-only{display:none;/* !important*/}}@media print{.littlefoot-footnote,.littlefoot-footnote__button{display:none !important}}.littlefoot-footnote{background:#fafafa;border-radius:.5em;border:1px solid #c3c3c3;box-shadow:0 0 8px rgba(0,0,0,0.3);box-sizing:border-box;display:inline-block;left:0;line-height:0;margin:2.01924em 0;max-width:90%;opacity:0;position:absolute;top:0;transform-origin:50% 0;transform:scale(0.1) translateZ(0);transition-duration:.25s;transition-property:opacity,transform;transition-timing-function:ease;z-index:10}.littlefoot-footnote.is-positioned-top{bottom:0;top:auto}.littlefoot-footnote.is-active{opacity:.97;transform:scale(1) translateZ(0)}.littlefoot-footnote.is-scrollable::after{content:'';position:absolute;bottom:.3875em;left:.3875em;z-index:14;display:block;height:.78125em;width:.625em;background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");background-size:cover;opacity:.1;transition-property:opacity;transition-duration:.25s;transition-timing-function:ease}.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::before,.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::after{content:'';left:0;position:absolute;width:100%;z-index:12}.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::before{background-image:linear-gradient(to bottom, #fafafa 50%, rgba(250,250,250,0) 100%);border-radius:.5em .5em 0 0;height:.6em;top:-1px}.littlefoot-footnote.is-scrollable .littlefoot-footnote__wrapper::after{background-image:linear-gradient(to top, #fafafa 50%, rgba(250,250,250,0) 100%);border-radius:0 0 .5em .5em;bottom:-1px;height:.6em}.littlefoot-footnote.is-scrollable ::-webkit-scrollbar{display:none}.littlefoot-footnote.is-fully-scrolled::after,.littlefoot-footnote.is-fully-scrolled::before{opacity:0;transition-delay:0}@media (max-width: 720px){.littlefoot-footnote{border-radius:0;border-width:1px 0 0;bottom:0;left:0 !important;margin:0;opacity:1;position:fixed;right:auto;top:auto;transform:translateY(100%);transition:transform 0.3s ease;width:100%}.littlefoot-footnote.is-active{transform:translateY(0)}.littlefoot-footnote .littlefoot-footnote__wrapper{margin:0;max-width:100% !important;transform:none;width:100%}.littlefoot-footnote .littlefoot-footnote__wrapper,.littlefoot-footnote .littlefoot-footnote__content{border-radius:0}.littlefoot-footnote .littlefoot-footnote__tooltip{display:none}}.littlefoot-footnote__wrapper{background-color:#fafafa;border-radius:.5em;box-sizing:inherit;display:inline-block;line-height:0;margin:0;overflow:hidden;position:relative;width:22em;z-index:14}.littlefoot-footnote__content{-webkit-font-smoothing:subpixel-antialiased;-webkit-overflow-scrolling:touch;background:#fafafa;border-radius:.5em;box-sizing:inherit;display:inline-block;line-height:normal;font-size:initial;font-style:initial;font-weight:initial;max-height:15em;overflow:auto;padding:.6em 1.4em .6em;position:relative;z-index:8}.littlefoot-footnote__content img{max-width:100%}.littlefoot-footnote__content *:first-child{margin-top:0}.littlefoot-footnote__content *:last-child{margin-bottom:0}.is-scrollable .littlefoot-footnote__content{padding-bottom:0}.is-scrollable .littlefoot-footnote__content *:last-child{margin-bottom:.6em}.littlefoot-footnote__tooltip{background:#fafafa;border-top-left-radius:0;border:1px solid #c3c3c3;box-shadow:0 0 8px rgba(0,0,0,0.3);box-sizing:border-box;height:1.3em;margin-left:-0.65em;position:absolute;transform:rotate(45deg);width:1.3em;z-index:12}.is-positioned-bottom .littlefoot-footnote__tooltip{top:-0.65em}.is-positioned-top .littlefoot-footnote__tooltip{bottom:-0.65em}
