body{
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: 100;
	line-height: 1.7em;
}
b, strong{
	font-weight: bold;
}

article > p, article > ul, article > ol, article > h1, article > h2, article > h3{
	width: 640px;
	margin:1em auto;
}
.section{
	width:100%;
	background: #000;
	color: #fff;
	overflow: hidden;
	padding: 1em 0;
	margin-bottom: 2em;
	margin-top: 3em;
}
.section:first-of-type{
	margin-top: 0;
}
.section > div{
	width: 800px;
	margin:1em auto;
}

.sim{
	width:100%;
	background: #eee;
	overflow: hidden;
	margin: 1.5em 0;
}
iframe{
	border:2px solid #eee;
	display: block;
	margin:0 auto;
}

icon{
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
	top:0.1em;
	background-size: 100% 100%;
}
icon[s]{
	background-image: url(../icons/s.png);
}
icon[e]{
	background-image: url(../icons/e.png);
}
icon[i]{
	background-image: url(../icons/i.png);
}
icon[r]{
	background-image: url(../icons/r.png);
}

p > img{
	width: 100%;
	border: 1px solid #ddd;
	margin: 0.5em auto;
}
sub{
	line-height: 0;
}