body{
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: 100;
	line-height: 1.7em;
}
b, strong{
	font-weight: bold;
}

a{
	color: #ff4040;
}
a:hover{
	color: #ff8080;
}

article > p, article > ul, article > ol, article > h1, article > h2, article > h3{
	width: 640px;
	margin:1em auto;
}
.section{
	width:100%;
	background: #000;
	color: #fff;
	overflow: hidden;
	margin-bottom: 2em;
	margin-top: 3em;
	padding: 20px 0;
}
.section:first-of-type{
	margin-top: 0;
	height: 260px;
}
.section > div{
	width: 960px;
	margin:1em auto;
}

.sim{
	width:100%;
	background: #eee;
	overflow: hidden;
	margin: 1.5em 0;
}
iframe{
	border:2px solid #eee;
	display: block;
	margin:0 auto;
}

icon{
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
	top:0.1em;
	background-size: 100% 100%;
}
icon[s]{
	background-image: url(../icons/s.png);
}
icon[e]{
	background-image: url(../icons/e.png);
}
icon[i]{
	background-image: url(../icons/i.png);
}
icon[r]{
	background-image: url(../icons/r.png);
}

p > img{
	width: 100%;
	border: 1px solid #ddd;
	margin: 0.5em auto;
}
sub{
	line-height: 0;
}

#translations, #sharing{
	font-weight: normal;
	color: #aaa;
	font-size: 16px;
	width: 110px;
	position: absolute;
	top: 347px;
	left: calc(50% - 478px);
	line-height: 1.3em;
}
#sharing{
    left: calc(50% + 358px);
	text-align: right;
}
#translations a, #sharing a{
	color: #aaa;
}
#translations a:hover, #sharing a:hover{
	color: #ccc;
}
#share_title, #share_desc{
	display:none;
}

#footer{
	background: #000;
	color: #fff;
	overflow: hidden;
	margin-top: 2em;
}
#footer > div{
	width:960px;
	margin:3em auto;
}

#supporters{
	color: #999;
	font-size: 19px;
	line-height: 1.3em;
	columns:5;
	text-align: center;
}

#footnotes_container{
	background: #444;
	color: #bbb;
	padding-top: 2em;
	padding-bottom: 1.5em;
}
#footnotes_container h2{
    margin: 0 auto;
    text-align: center;
}
.footnotes{
	display: none;
	width: 800px;
	font-size: 16px;
	line-height: 1.3em;
	margin: 0 auto;
}
.footnotes hr/*, .footnotes a*/{
	display: none;
}
#show_feetnotes_button{
	cursor: pointer;
}
#show_feetnotes_button:hover{
	color: #fff;
}
#shown_feetnotes{
	display: none;
}

#wash{
	font-size: 12px;
	text-align: right;
	padding: 0.5em 1.5em;
}

.littlefoot-footnote__content {
	line-height: 1.5em;
}
.littlefoot-footnote__content a{
	color: #549cf9;
}